 .container{
   width: 100%;
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: red; */
 }
 .inner-container{
  border: 1px solid black;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
  width: 400px;
  /* background-color: pink; */
 }
 .info-input{
  /* width: 300px; */
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }
 .info-input .txtfield{
  margin: 10px 10px;
width: 300px;
 }
 .login-image img{
margin-bottom: 0px;
 }
 .button-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  padding-top: 10px;
 }
 .button-login button{
  margin: 10px 10px;
  width: 300px;
 }
 .button-login span{
  padding: 2px;
 }
 .button-login .create{
background-color: rgb(223, 223, 245);
 }